<body>
    <section class="hero is-medium is-bold" style="background-image:
    url(https://i.postimg.cc/5yKSJNhb/luxa-org-opacity-changed-Untitled-design-2-1-1.png);
    background-size: cover; background-position: bottom;
    background-repeat: no-repeat; object-fit: cover;">
        <div class="hero-head">
            <nav class="navbar is-fixed-top" style="  background-color: #9e9696f6;
            ">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar" href="/campgrounds">
                            <img id="home-tent-logo" src="https://i.postimg.cc/zBQXpWsC/Simple-Travel-Camp-Trip-Facebook-Post-Template-5-1-removebg-preview.png"
                                alt="logo" style="width: 50px; height: 50px;">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li><a class="button is-white is-outlined" style="border: none;"
                                            href="/">Home</a></li>
                                    <li><a class="button is-white is-outlined" style="border: none;"
                                            href="/campgrounds">Tous les campings</a></li>
                                    <li><a class="button is-white is-outlined" style="border: none;"
                                            href="/campgrounds/new">Ajouter un camping</a></li>
                                </ul>
                                <span class="navbar-item">
                                    <a class="button is-white is-outlined" href="/">
                                        <span title="Hello from the other side">Se connecter</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title" style="">
                    <span class="title-camp">CAMP</span> ADVISOR
                </h1>
                <h2 class="subtitle">
                    Explorez, évaluez,<br>
                    trouvez votre havre naturel
                </h2>
            </div>
        </div>
    </section>
    <!-- <div class="box cta">
        <p class="temoignage has-text-centered">
            <span id="tag-temoignage" class="tag is-primary">Témoignage</span> « Moi, j’aime bien le camping, ça me rappelle quand
            j’étais petit et que j’allais en colonie. Fallait toujours faire la queue pour aller aux toilettes
            et y’avait jamais d’eau chaude. »
        </p>
    </div> -->